.cover-bg {
    background-image: url("../../src/imgs/coverbg.png");
    background-repeat: no-repeat;
    background-size: 120rem 40rem;
    background-position: 50% 10%;
    width: auto;
    padding-bottom: 3.75rem;
}

.cover {
    width: 100%;
    height: 100%;
    margin-bottom: 500px;
    margin: 0 auto;

    @include displayFlexColumn;

    &_note {
        text-align: center;
        width: 14.063rem;
        height: 4.688rem;
        margin-top: -0.625rem;
        margin-bottom: -30px;
        z-index: 139;

        background: $color-ribbon-light, $color-ribbon-dark;
        background: -moz-linear-gradient(90deg, $color-ribbon-light 0%, $color-ribbon-dark 100%);
        background: -webkit-linear-gradient(90deg, $color-ribbon-light 0%, $color-ribbon-dark 100%);
        background-image: -ms-linear-gradient(90deg, $color-ribbon-light 0%, $color-ribbon-dark 100%);

        p {
            font-family: $font-family-primary;
            // 42.567px = 2.66rem
            font-size: 2.66rem;
            text-shadow: -0.044rem -0.044rem 0px rgba($color-black, 0.2);
            line-height: 0;
            color: $color-white;

            @include boldFont;

            transform: matrix(1.17461408039124, 0, 0, 1.17461408039124, 0, 0);
            -moz-transform: matrix(1.17461408039124, 0, 0, 1.17461408039124, 0, 0);
            -webkit-transform: matrix(1.17461408039124, 0, 0, 1.17461408039124, 0, 0);
            -ms-transform: matrix(1.17461408039124, 0, 0, 1.17461408039124, 0, 0);
        }
    }

    &_ribbon {
        position: relative;
        bottom: 10px;
        width: 100%;
        float: left;

        &-down {
            float: left;
            width: 0;
            height: 0;
            border-left: 112.5px solid transparent;
            border-right: 112.5px solid transparent;
            border-top: 20px solid $color-ribbon-light;
        }
    }

    &_text {
        width: 100%;
    }

    &_title {
        position: relative;
        width: 100%;
        font-size: $font-size-verybig;
        font-family: $font-family-secondary;
        line-height: 0.21;
        margin-bottom: 67px;

        &-transform {
            font-size: 1.033rem;
            position: absolute;
            top: 2.6rem;
            left: -0.5rem;
            text-transform: uppercase;
            line-height: 0.857;
    
            transform-origin: 0 0;
            transform: rotate(-65deg);
    
            -webkit-transform: rotate(-65deg);
            -moz-transform: rotate(-65deg);
            -ms-transform: rotate(-65deg);
            -o-transform: rotate(-65deg);
        }
    }
    
    &_paragraph {
        float: left;
        font-size: $font-size-regular;
        font-family: $font-family-primary;
        color: $color-cover-font;
        text-shadow: 0.25rem 0.125rem 0.25rem $color-white;
        line-height: $line-height-big;
        width: 50%;
        /* background blur for the cover description */
        background-color: rgba($color-white, 0.65);
        border-radius: 20%;
        box-shadow: 0 0 2.5rem 4.375rem rgba($color-white, 0.65);
    }

    &_anchor {
        width: 100%;
        align-content: center;
        margin-bottom: 100px;
        margin-top: -20px;
        cursor: pointer;
    
        p {
            float: left;
            font-size: $font-size-big;
            font-family: $font-family-primary;
            color: $color-anchor-red;
            line-height: $line-height-smaller;
            // 0.707px ; 0.707px ; 1px
            text-shadow: 0.044rem 0.044rem 0.063rem rgba(255, 255, 255, 0.004);
    
            @include boldFont;
        }

        &-arrow {
            margin-right: 0.625rem;
            float: left;
            width: 1.563rem;
            height: 1.875rem;
        }
    }
}

