.modal {
    /* Hidden by default */
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-shadow: 0 0.063rem 1.25rem 0 rgba($color-black, 0.5);
    background-color: $color-black;
    background-color: rgba($color-black, 0.749);
    z-index: 200;

    /* Modal content box */
    &_content {
        background-color: $color-modal-background;
        margin: 15% auto;
        padding: 1.25rem;
        border: 1px solid $color-modal-border;
        width: 43.75rem;
    
        @include mobile {
            width: 75%;
        }
    }

    /* The Close button */
    &_btn {
        color: $color-modal-btn;
        float: right;
        font-size: 1.75rem;
        background-color: rgba($color-black, 0);
        border: none;
    
        @include boldFont;
    }

    &_btn:hover, &_btn:focus {
        color: $color-black;
        text-decoration: none;
        cursor: pointer;
    }
}