.description {
    margin-top: 3.125rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;

    &_text-wrapper {
        width: 100%;
        max-width: 26.25rem;
        display: flex;
        flex-flow: row wrap;

    }

    &_text {
        flex-grow: 3;
        padding-bottom: 59px;
        font-family: $font-family-primary;        

        span {
            color: $color-description-red;
            text-decoration: underline;
            
            @include boldFont;
        }
    }

    &_img {
        @include displayFlexRow;

        img {
            padding-left: 10rem;
            align-self: flex-end;
            max-width: 31.25rem;
            max-height: 25rem;
            margin-bottom: -1.875rem;
            z-index: -1;
        }
    }
}

.description_text-wrapper, .description_text, .description_text span {
    @include description_decoration;
}