* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.mobile-container {
    @include mobile {
        @include displayFlexColumn;

        padding: 0 1.563rem;
        width: 100%;
        float: none;
        justify-content: center;
        align-items: center;
    }
}

.contents,
.cover,
.footer_text {
    max-width: 58.688rem;
}

.contents {
    @include displayFlexColumn;

    justify-content: center;
    margin: 0 auto;

    @include mobile {
        @include displayFlexColumn;

        padding: 0 1.563rem;
        width: 100%;
        float: none;
        justify-content: center;
        align-items: center;
    }
}

.page_view {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    &-all {
        @include boldFont;

        font-family: $font-family-primary;
        border-radius: 35%;
        color: $color-anchor-red;
        text-decoration: none;
        margin: 15px;
        padding: 6px;
        background-color: $color-active-header-dark;
        box-shadow: 0 0 0.5rem 0.5rem rgba($color-active-header-dark, 0.65);
        border: none;
        cursor: pointer;
    }

}

.event_single {

    &-wrap {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    .panel_title {
        font-size: $font-size-big;
    }

    .panel_description {
        font-size: $font-size-regular;
        font-family: $font-family-primary;
    }
}