* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.mobile-container {
    @include mobile {
        @include displayFlexColumn;

        padding: 0 1.563rem;
        width: 100%;
        float: none;
        justify-content: center;
        align-items: center;
    }
}

.contents,
.cover,
.footer_text {
    max-width: 58.688rem;
}

.contents {
    @include displayFlexColumn;

    justify-content: center;
    margin: 0 auto;

    @include mobile {
        @include displayFlexColumn;

        padding: 0 1.563rem;
        width: 100%;
        float: none;
        justify-content: center;
        align-items: center;
    };
}